@model Online13.Models.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamLeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Development)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Development)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Design)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Design)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Innoation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Innoation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Communication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Communication)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.skpe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.skpe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionId)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Update", new { id = @Model.Id }) |*@
    <a href="@Url.Action("Update","Teachers",new {id=Model.Id})">Edit</a>|
    @Html.ActionLink("Back to List", "Index")
</p>
